 :root {
            --primary: white;
            --secondary: black;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            /* border: 1px solid var(--secondary); */


        }

        nav {
            padding: 0 1%;
            display: flex;
            border: 1px solid var(--secondary);
            justify-content: space-between;
            align-items: center;
            background-color: var(--primary);
        }

        h2 {
            background: linear-gradient(to top right,rgb(228, 247, 154), rgb(166, 251, 251));
            color: transparent;
            background-clip: text;

        }
         /* #logo{
            max-width: 10%;
            max-height: 60px;
         } */
         
        #dark-mode {
            display: flex;
            justify-content: center;
            max-width: 50px;
        }

        #dark-mode button {
            display: flex;
            align-items: center;
            justify-content: center;

        }


        #dark-mode img {
            width: 80%;

        }

        body {
            background-color: var(--primary);
            color: var(--secondary);
        }

        /* ..................................... */


        /* ........................................... */
        #container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            /* height: 500px; */
            /* width: 100vw; */

        }

        #child3 button {
            padding: 2px;
            border-radius: 3px;
            background-color: var(--primary);
            color: var(--secondary);
        }

        #downloadbtn:hover {
            background-color: var(--secondary);
            color: var(--primary);
        }

        #child4 {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 5px;
            padding: 3px;
            flex-wrap: wrap;
            border: 1px solid var(--secondary);

        }

        /* #child4 .card {
            border: 1px solid var(--secondary);
            border-radius: 5px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 200px;
            gap: 10%;

        } */
        .card {
            border: 1px solid var(--secondary);
            border-radius: 5px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            /* row-gap: 40px; */
            /* align-content: space-evenly; */
            /* justify-content: center; */
            align-items: center;
            min-height: 200px;
            min-width: 250px;
            /* gap: 10%; */

        }


        .card h5 {
            /* position:sticky;
            top: 1px; */

            padding: 10px;
            border: 1px solid var(--secondary);
            border-radius: 10px;
            color: var(--secondary);
            background-color: var(--primary);
        }

        .cardscontent {
            border: 1px solid var(--secondary);
            align-self: center;
            padding: 5px;
            width: 100%;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        #textarea {
            width: 300px;
            height: 300px;
            padding: 5px;
            border-radius: 5px;
            border: 3px solid var(--secondary);
            display: flex;
            justify-content: center;
            align-items: flex-end;


        }

        .cardscontent span {
            /* padding: 5px; */
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;
            width: 25px;
            height: 25px;

        }

        .btn {

            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        #bgimg span {

            width: 40%;
            /* height: 20%; */

        }

        #bgimg .btn {

            border-radius: 0%;

        }

        #font span {
            width: fit-content;
            border: 1px solid var(--secondary);
        }

        #font .btn {
            border-radius: 0%;
            /* width: fit-content; */

        }
        #file{
            width: 65%;
        }